.funct-orga-container {
  padding: calc(var(--spacing-ref) * 2);

  & h2 {
    color: var(--mainColor);
    font-size: var(--font-size-h2);
    padding-bottom: calc(var(--spacing-ref) * 1);
  }
}

.funct-orga-card {
  border: 1px solid var(--mainColor);
  border-radius: var(--border-radius);
  padding: calc(var(--spacing-ref) * 1);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-ref) * 1);

  & h3 {
    color: var(--mainColor);
    font-size: var(--font-size-h3);
  }

  & div:first-of-type {
    display: flex;
    align-items: center;
    color: var(--secondaryColor);
  }
}

.funct-orga-icons {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-ref) * 1);

  & div {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-ref) * 1);
  }

  & p {
    color: var(--secondaryColor);
    font-size: var(--font-size-text);
    width: 35ch;
  }
}

.funct-orga-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(var(--spacing-ref) * 1);
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
  .funct-orga-card-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  & .orga-card:last-of-type {
    grid-column: span 2;
    width: 60%;
    margin: 0 auto;
  }
  .funct-orga-icons {
    padding: calc(var(--spacing-ref) * 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--spacing-ref) * 3);

    & p {
      width: 30ch;
    }
    & div:last-of-type {
      grid-column: span 2;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1250px) {
  .funct-orga-card-container {
    display: flex;
    flex-direction: row;
    gap: calc(var(--spacing-ref) * 1);

    & div:last-of-type {
      grid-column: span 2;
      margin: 0 auto;
      width: 50%;
    }
  }

  .orga-card:last-child {
    & h4 {
      width: 15ch;
    }
  }

  .funct-orga-icons {
    padding: calc(var(--spacing-ref) * 2);
    flex-direction: row;
    justify-content: space-between;

    & p {
      width: 25ch;
    }
  }
}
