.avantages-card-container {
  margin-top: calc(var(--spacing-ref) * 2);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    var(--gradientColor) border-box;
  padding: calc(var(--spacing-ref) * 1);

  & h5 {
    color: var(--secondaryColor);
    font-size: calc(var(--font-size-text) * 1);
    text-align: center;
  }

  & p:first-of-type {
    color: black;
    padding-top: calc(var(--spacing-ref) * 0.5);
    font-size: calc(var(--font-size-text) * 0.6);
  }

  & div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & div:last-of-type {
    margin-top: calc(var(--spacing-ref) * 0.5);
    border-radius: var(--border-radius);
    padding: calc(var(--spacing-ref) * 0.5);
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
      var(--gradientColor) border-box;
    color: var(--secondaryColor);
    font-size: calc(var(--font-size-text) * 0.8);
  }
}
