.avantages-card-container {
  margin-top: calc(var(--spacing-ref) * 2);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    var(--gradientColor) border-box;
  padding: calc(var(--spacing-ref) * 0.5);

  & h5 {
    color: var(--secondaryColor);
    font-size: calc(var(--font-size-title-text) * 0.8);
    text-align: left;
    padding-bottom: calc(var(--spacing-ref) * 0.5);
    padding-left: calc(var(--spacing-ref) * 0.5);
  }

  & p:nth-child(2) {
    color: #212121;
    letter-spacing: 0.5px;
    padding-top: calc(var(--spacing-ref) * 1);
    font-size: calc(var(--font-size-text) * 1);
    text-align: left;
  }

  & div:first-of-type {
    display: flex;
    align-items: start;
    justify-content: start;
  }

  & .avantages-card-content-container {
    margin-top: calc(var(--spacing-ref) * 1);
    border-radius: var(--border-radius);
    background: linear-gradient(white, white) padding-box,
      var(--gradientColor) border-box;
    border: 1px solid transparent;
    padding: calc(var(--spacing-ref) * 1);

    & p {
      font-weight: bold;
    }
  }

  &:nth-child(even) {
    color: var(--secondaryColor);
  }

  &:nth-child(odd) {
    color: var(--mainColor);
  }
}

@media screen and (min-width: 1024px) {
  .avantages-card-container {
    width: 80%;

    & h5 {
      width: 100%;
    }
  }

  .avantages-card-content {
    font-size: calc(var(--font-size-text) * 1.5) !important;
  }
}
