.avantages-card-container {
  margin-top: calc(var(--spacing-ref) * 2);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    var(--gradientColor) border-box;
  padding: calc(var(--spacing-ref) * 1);

  & h5 {
    color: var(--secondaryColor);
    font-size: calc(var(--font-size-text) * 1.5);
    text-align: left;
    width: 35ch;
    padding-left: calc(var(--spacing-ref) * 0.5);
  }

  & p:first-of-type {
    letter-spacing: 0.5px;
    padding-top: calc(var(--spacing-ref) * 0.5);
    font-size: calc(var(--font-size-text) * 0.8);
    font-weight: 600;
    text-align: left;
  }
  .last-avantages-card-title {
    display: flex;
    align-items: flex-start;
  }

  .last-avantages-card-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--spacing-ref) * 0.5);
  }

  .last-avantages-list {
    list-style: none;
    color: #212121;
    font-family: var(--text-font);
    font-size: calc(var(--font-size-text) * 0.8);
    font-weight: 600;
    text-align: left;
    width: 40ch;
  }
  .last-avantages-card-title {
    padding-bottom: var(--spacing-ref);
  }
}

@media screen and (min-width: 1024px) {
  .avantages-card-container {
    & h5 {
      width: 100%;
    }
    .last-avantages-list {
      width: 100%;
    }
  }
}
