.user-number-card {
  border: 1px solid var(--mainColor);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-ref);
  margin: calc(var(--spacing-ref) * 2);

  & h4 {
    color: var(--mainColor);
    font-family: var(--title-font);
    font-size: calc(var(--font-size-ref) * 3);
  }

  & p {
    color: var(--secondaryColor);
    font-weight: 700;
    font-size: calc(var(--font-size-ref) * 3);
    text-align: center;
    width: 15ch;
  }
}

@media screen and (min-width: 768px) {
  .user-number-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--cardsOpacity);
    height: calc(var(--input-width) * 2);
    width: 70%;
    margin: calc(var(--spacing-ref) * 2) auto;
  }
}

@media screen and (min-width: 1024px) {
  .user-number-card {
    max-width: calc(var(--input-width) * 4);
    height: calc(var(--input-width) * 3);

    & h4 {
      font-size: calc(var(--font-size-ref) * 3);
    }

    & p:last-of-type {
      font-size: calc(var(--font-size-ref) * 2.5);
    }
  }
}
