.avantage-button-container {
  & .avantages-card-container:nth-child(odd) {
    & h5 {
      color: var(--mainColor);
    }

    & div:nth-child(3) {
      & p {
        color: var(--mainColor);
      }
    }
  }

  & .avantages-card-container:nth-child(even) {
    & h5 {
      color: var(--secondaryColor);
    }
    & div:nth-child(3) {
      & p {
        color: var(--secondaryColor);
      }
    }
  }
}
