@font-face {
  font-family: "Bevellier";
  src: url("/fonts/Bevellier-Black.woff2") format("woff2"),
    url("/fonts/Bevellier-Black.woff") format("woff"),
    url("/fonts/Bevellier-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --title-font: "Bevellier";
  --text-font: "Inter";
  --bckgColor: #f8f9fa;
  --mainColor: #fd6e00;
  --mainColor-opacity: #fd6e0075;
  --secondaryColor: #d90a5c;
  --cardsOpacity: rgba(255, 255, 255, 0.808);
  --gradientColor-button: linear-gradient(90deg, #f76213 53%, #f62570 100%);
  --gradientColor: linear-gradient(90deg, #fd6e00 0%, #f62570 100%);
  --gradientColor-card: linear-gradient(180deg, #fd6e00 0%, #f62570 100%);
  --gradientColor-white: linear-gradient(120deg, #fd6e0017 0%, #ffffff 100%);
  --font-size-ref: 1rem;
  --font-size-h1: clamp(3rem, 1.5rem + 5vw, 8rem);
  --font-size-h2: clamp(2.5rem, 1rem + 3vw, 4rem);
  --font-size-h3: clamp(1.5rem, 0.75rem + 2vw, 3rem);
  --font-size-title-text: clamp(1.5rem, 1rem + 1vw, 2rem);
  --font-size-text: clamp(1rem, 0.5rem + 1vw, 1.25rem);
  --border-ref: 1px solid var(--gradientColor);
  --border-radius: 8px;
  --spacing-letter: 1px;
  --spacing-ref: 1rem;
  --input-width: 7rem;
  --input-height: 2rem;
  --icon-min-size: 50px;
  --icon-max-size: 100px;
  --icon-size: 12vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--bckgColor);
}

p {
  font-family: var(--text-font);
}

h1,
h2,
h3 {
  font-family: var(--title-font);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

.title-h1 {
  font-size: var(--font-size-h1);
  font-family: var(--title-font);
  color: var(--bckgColor);
  text-align: left;
  letter-spacing: var(--spacing-letter);
  line-height: 1;
}

.title-h2 {
  font-size: var(--font-size-h2);
  font-family: var(--title-font);
  color: var(--mainColor);
  text-align: left;
  letter-spacing: var(--spacing-letter);
  line-height: 1;
}

.title-h3 {
  font-size: var(--font-size-h3);
  font-family: var(--title-font);
  color: var(--mainColor);
  text-align: left;
  letter-spacing: var(--spacing-letter);
  line-height: 1.5;
}

.title-text {
  font-size: var(--font-size-title-text);
  font-family: var(--text-font);
  font-weight: 600;
  color: var(--bckgColor);
  text-align: left;
}

.text {
  font-size: var(--font-size-text);
  font-family: var(--text-font);
  line-height: 1.2;
  font-weight: 400;
  color: #585c5f;
}

.icon-size {
  width: var(--icon-size);
  height: var(--icon-size);
  max-width: var(--icon-max-size);
  max-height: var(--icon-max-size);
  min-width: var(--icon-min-size);
  min-height: var(--icon-min-size);
}
