.uvibes-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  background-image: url("../../../public/images/uvibesteam.png");
  background-position: center;
  background-size: cover;

  & img {
    padding-top: calc(var(--spacing-ref) * 2);
  }

  & button {
    margin-bottom: calc(var(--spacing-ref) * 3);
  }
}

.uvibes-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0.7;
  pointer-events: none;
  z-index: 1;
}

.uvibes-section > * {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .uvibes-section {
    & img {
      width: 20%;
      height: auto;
    }
  }
}
