.benefices-home-section-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: calc(var(--spacing-ref) * 2);
  gap: calc(var(--spacing-ref) * 3);
}

.benefices-home-header-and-data {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-ref) * 3);
}

#benefices-home-title-word {
  color: var(--bckgColor);
  background-color: var(--mainColor);
  padding: calc(var(--spacing-ref) * 0.5);
}

.benefices-home-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.benefices-home-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--spacing-ref) * 2);
}

.benefices-home-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--spacing-ref) * 3);
}

.benefices-home-button {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .benefices-home-title {
    font-size: var(--font-size-h2);
    padding: calc(var(--spacing-ref) * 1);
  }

  .benefices-home-header-and-data {
    flex-direction: row;
    align-items: center;
  }
}
