.uvibes-teamSection-button {
  position: relative;
  display: flex;
  height: 48px;
  border: 1px solid var(--mainColor);
  border-radius: 999px;
  overflow: hidden;
  background-color: var(--bckgColor);
  margin: 0 -1rem;
}

.uvibes-button {
  flex: 1;
  background: none;
  border: none;
  color: var(--mainColor);
  font-family: var(--text-font);
  font-size: var(--font-size-text);
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease, font-weight 0.2s ease;
}

.uvibes-button:hover {
  transform: scale(1.05);
  font-weight: 600;
}

.uvibes-button.active {
  color: var(--bckgColor);
  font-weight: bold;
  cursor: pointer;
}

.uvibes-button-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: calc(100% / 3);
  background: var(--gradientColor-button);
  border-radius: 999px;
  transition: left 0.4s ease, width 0.4s ease;
  z-index: 0;
}

.uvibes-teamSection-members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-ref);
  padding-top: var(--spacing-ref);
  padding-bottom: calc(var(--spacing-ref) * 2);
}

@media screen and (min-width: 768px) {
  .uvibes-teamSection-members {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing-ref) * 3);
    padding-top: calc(var(--spacing-ref) * 3);
  }
}
