.footer {
  padding-top: calc(var(--spacing-ref) * 2);
  border-top: 2px solid var(--mainColor);
  display: grid;
  height: calc(var(--spacing-ref) * 5);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  & h4 {
    font-size: calc(var(--font-size-ref) * 3);
    font-family: var(--title-font);
    color: var(--mainColor);
    padding-bottom: calc(var(--spacing-ref) * 1);
  }

  & p:first-of-type {
    font-size: calc(var(--font-size-ref) * 1.3);
    padding-bottom: calc(var(--spacing-ref) * 1);
    color: var(--mainColor);
    font-weight: bolder;
  }

  & p {
    font-family: var(--text-font);
  }
  & img {
    margin-top: calc(var(--spacing-ref) * 1);
  }
  & p:nth-child(3) {
    font-size: calc(var(--font-size-ref) * 0.8);
    color: #95a1bb;
  }

  & button {
    margin: var(--spacing-ref);
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacing-ref) * 0.5);

  & p:nth-child(3) {
    font-size: var(--font-size-text);
    color: var(--mainColor);
  }
}

.footer-icons {
  text-align: center;
  display: flex;
  gap: calc(var(--spacing-ref) * 1);
  justify-content: start;
  align-items: center;

  & img {
    width: 80%;
  }
}

.footer-icons-links {
  display: flex;
  gap: calc(var(--spacing-ref) * 1);
  justify-content: start;
  align-items: center;
}

.footer-links {
  height: var(--spacing-ref);
  margin: 0 auto;
  grid-column: span 3;
  grid-row-start: 2;
  margin-top: calc(var(--spacing-ref) * 1);
  display: flex;
  gap: calc(var(--spacing-ref) * 0.5);

  & a {
    text-decoration: none;
    font-family: var(--text-font);
    font-size: calc(var(--font-size-ref) * 0.6);
    color: rgba(17, 17, 17, 0.719);
  }
}

.footer-buttons {
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer {
    align-items: center;
  }
}
