.form-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: calc(var(--spacing-ref) * 2);
}

.form-contact fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
}

.form-contact label {
  font-size: var(--font-size-text);
  font-family: var(--text-font);
  padding-bottom: calc(var(--spacing-ref) * 0.5);
}
.form-contact .input-container {
  width: 100%;
}

.form-contact input,
.form-contact textarea {
  width: 100%;
  font-style: italic;

  &input:last-child {
    width: auto;
    padding: var(--spacing-ref);
    accent-color: var(--mainColor) !important;
  }
}

.form-contact input::placeholder,
.form-contact textarea::placeholder {
  color: #21212171;
}

.form-contact #message {
  height: calc(var(--input-height) * 5);
}

.form-contact div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-contact button {
  margin-top: calc(var(--spacing-ref) * 2);
}

.checkbox-container {
  color: var(--mainColor);
  flex-wrap: nowrap;
}

.checkbox-label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing-ref) * 0.5);
}

@media screen and (min-width: 768px) {
  .form-contact {
    width: 100%;
  }
}
